<h1>View The Chapter</h1>
    <p> Page should work when we seed db</p>
      <br><p>http://localhost:3000/mangas/:manga_id/chapters/:id</p>
  <h2> display the title with @chapter.whateverid</h2>
    <br><p> Manga art goes here</p>
